name: clear workflow logs

on:
  workflow_dispatch:

permissions:
  actions: write
  contents: read

jobs:
  clear-workflow-logs:
    runs-on: ubuntu-latest
    steps:
      - uses: Mattraks/delete-workflow-runs@v2
        with:
          token:                   ${{ github.token }}
          repository:              ${{ github.repository }}
          delete_workflow_pattern: "deploy admin layer"
          retain_days:             0
          keep_minimum_runs:       3
