name: deploy aws
run-name: deploy aws - ${{ inputs.terragrunt_action }}

on:
  workflow_dispatch:
    inputs:
      terragrunt_action:
        default: plan
        options:
          - plan
          - plan destroy
          - apply
          - destroy
        required: true
        type: choice

permissions:
  contents: read
  id-token: write

jobs:
  aws:
    uses: ./.github/workflows/reusable_deploy_aws_accounts.yaml
    with:
      account: all
      region: all
      component: all
      terragrunt_action: ${{ inputs.terragrunt_action }}
    secrets: inherit
